
.container-navigation{
    position: sticky;
    top: 0;
    height: 80px;
    width: 100%;
    background-color: black;
    z-index: 999;
}
.container-navigation .navigation-page{
    display: grid;
    width: 100%;
    padding: 1.5rem;
    gap: .5rem;
    grid-template-columns: auto 1fr auto;
    background-color: black;
}
.container-navigation ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.container-navigation ul li a{
    display: inherit;
    color: rgb(214, 214, 214);
    text-decoration: none;
}
/* btn-menu */
.container-navigation .btn-menu{
    border: none;
    background-color: transparent;
    color: rgb(214, 214, 214);
    font-size: 1.5rem;
    cursor: pointer;
}
/* menu navegacion */

.container-navigation .logo-button li a{
    font-size: 2rem;
}

.container-navigation .nav-buttons{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 80px;
    right: 0;
    width: 100%;
    background-color: lightgray;
    height: calc(100vh - 80px);
    overflow: hidden;
    transition: height .3s linear;
}
    .container-navigation .nav-buttons li{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
    }
    .container-navigation .nav-buttons li a{
        display: inherit;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: black
    }
    .container-navigation .nav-buttons li .router-link-active{
        background-color: gray;
    }

    .v-enter-active,
    .v-leave-active {
      transition: all .3s ease;;
    }
    
    .v-enter-from,
    .v-leave-to {
      opacity: 0;
      transform: translateX(20px);
    }

    .container-navigation .hiddenMenu{
        width: 0;
        height: 0px;
        overflow: hidden;
        transition: height .3s linear;
    }


@media screen and (min-width:1080px) {
    .container-navigation .navigation-page{
        grid-template-columns: auto 1fr auto;
        width: 80%;
        padding: 1.5rem 0;
        margin: auto;
    }
    .btn-menu{
        display: none;
    }

    .container-navigation .nav-buttons{
        position: initial;
            flex-direction: row;
            height: auto;
            background-color: transparent;
            max-width: 600px;
            margin: auto;
    }
    .container-navigation .nav-buttons li{
        height: auto;
    }
    .container-navigation .nav-buttons li a{
        color: white;
    }
    .container-navigation .nav-buttons li .router-link-active{
        background-color: transparent;
    }

    .container-navigation .hiddenMenu{
        width: 100%;
        height: auto;
        display: flex;
    }
}
