.item-product-section {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-self: center;
    width: 100%;
    margin: auto;
    padding: 1rem;
    background: rgb(10, 10, 11);
    background: linear-gradient(126deg, rgba(10, 10, 11, 1) 0%, rgba(41, 43, 43, 1) 96%);
}

/* headset article */

.item-article {
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    max-width: 450px;
    padding: 1rem;
    color: white
}

.item-article h3 {
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 4px;
}

.item-article h2 {
    margin: 1.5rem 0;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-weight: 900;
}

.item-article p {
    font-size: .9rem;
    line-height: 1.2rem;
}

.item-article button {
    width: 170px;
    height: 50px;
    padding: 1rem 2rem;
    margin: 2rem 0;
    background-color: rgb(230, 150, 75);
    color: white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    cursor: pointer;
    transition: font-size .2s linear;
}

.item-article button:hover {
    font-size: .75rem;
}


.item-img {
    width: 400px;
}

@media screen and (max-width:1080px) {
    .item-product-section {
        grid-template-columns: 1fr;
        position: relative;
        overflow: hidden;
        height: calc(100vh - 80px);
    }

    .item-article {
        margin: auto;
        z-index: 1;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .item-article h3 {
        font-size: clamp(1rem, 5vw, 1.5rem);
    }

    .item-article h2 {
        font-size: clamp(2rem, 10vw, 3.5rem);
    }

    .item-article p {
        max-width: 368px;
    }

    .item-img {
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        position: absolute;
        z-index: 0;
        width: 70%;
        max-width: 700px;
        min-width: 360px;
    }
}

@media screen and (max-width: 768px) {
    .item-product-section {
        height: auto;
        min-height: 450px;

    }
}